body{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('bg.jpg'); /* Path to your background image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the background image */
}

h1 {
display:flex;
align-items: center;
justify-content: center;
}

.cards_container{
    display:flex;
    justify-content: center;
}
.cards_container img{
    width:400px;
    cursor: pointer;
    
}
#image {
    display:block;
}
#image3 {
    display:block;
}
#image2 {
    display:block;
}

#next1{
    display:none;
}
#next2{
    display:none;
}
#next_button2{
    display:none;
}
#next3{
    display:none;
}
#next_button3{
    display:none;
}
.button_next1{
    width:200px;
    height: 100px;
    font-size:50px;
    background-color: transparent;
    border-color: red;
    color:red;
    display:none;
    cursor: pointer;
}

#second_set{
display:none;
}
#third_set{
    display:none;
    }
